

.header-button > a {
    background-color: #FF5722;
}
.main-menu ul li ul.submenu-mainmenu {
    border-top: 1px solid #FF5722;
}
.main-menu ul li:hover a {
    color: #FF5722;
}
.main-menu ul li:hover ul li a:hover {
    color: #FF5722;
}
a.min1:hover {
    border: 1px solid #FF5722;
    background-color: #FF5722;
}
.what-bottom:hover .btn-icon {
    background-color: #FF5722;
}
.what-bottom:hover a,
.what-bottom:hover h3 {
    color: #FF5722;
}
.what-bottom:hover h3::before {
    background: #FF5722 none repeat scroll 0 0;
}
.support-all a:hover {
    border: 1px solid #FF5722;
    background-color: #FF5722;
}
span.published i {
    color: #FF5722;
}
span.published {
    color: #FF5722;
}
.event-text > h3 a:hover {
    color: #FF5722;
}
.event-text > a:hover {
    color: #FF5722;
}
.event-icon > a:hover {
    background-color: #FF5722;
}
.meet-icon ul li a:hover {
    background-color: #FF5722;
}
.indicator-style.owl-theme .owl-controls .owl-buttons div:hover {
    color: #FF5722;
    border: 1px solid #FF5722;
}
.readmore > a::before {
    background: #FF5722 none repeat scroll 0 0;
}
.blog-container-inner:hover .blog-title a,
.blog-container-inner:hover .readmore a {
    color: #FF5722;
}
.blog-container-inner:hover .post-format-area a.tb-publish,
.blog-container-inner:hover .post-thumb a.tb-publish {
    background-color: #FF5722;
}
.all-contact-text .di-na input[type="submit"]:hover {
    background-color: #FF5722;
}
.footer-top-left > a:hover,
.footer-middle-right a:hover,
.footer-bottom-right a:hover {
    color: #FF5722;
}
.twitter-one a {
    color: #FF5722;
}
.img-one a::before {
    background: #FF5722 none repeat scroll 0 0;
}
.footer-menu a.active {
    color: #FF5722;
}
.footer-menu a:hover {
    color: #FF5722;
}
.sin-timeline:hover::before {
    border: 1px solid #FF5722;
    background: #FF5722;
}
.sin-timeline::after {
    background: #FF5722 none repeat scroll 0 0;
}
.sin-timeline:hover .timeline-date {
    color: #FF5722;
}
#toTop i:hover {
    background-color: #FF5722;
}
.home-2 .main-menu ul li:hover a {
    color: #FF5722;
}
.home-2 .main-menu ul li:hover ul li a:hover {
    color: #FF5722;
}
.skill .progress-bar {
    background: #FF5722 none repeat scroll 0 0;
}
a.video-popup:hover {
    color: #FF5722;
}
.nav.nav-tabs.three-tab > li.active > a img,
.nav.nav-tabs.three-tab > li.active > a img:focus,
.nav.nav-tabs.three-tab > li.active > a img:hover {
    border: 8px solid #FF5722;
}
.meet-area-two .meet-text > h3 {
    color: #FF5722;
}
.meet-area-two .meet-icon ul li a:hover {
    color: #FF5722;
}
.timer > div {
    background-color: #FF5722;
}
.upcoming-icon i {
    background-color: #FF5722;
}
.latest-news > a:hover {
    color: #FF5722;
}
.contact-form input:focus,
.contact-form textarea:focus {
    border-color: #FF5722;
}
button.submit {
    background-color: #FF5722;
}
.header-icon li a:hover {
    color: #FF5722;
}
.header-right-home-3 .search i:hover {
    border: 1px solid #FF5722;
    color: #FF5722;
}
.header-left-home-3 .header-button > a {
    border: 1px solid #FF5722;
    color: #FF5722;
}
.header-left-home-3 .header-button > a:hover {
    background-color: #FF5722;
    border: 1px solid #FF5722;
}
h1.title6.hm2 span {
    color: #FF5722;
}
.offer-icon i {
    color: #FF5722;
}
.event-area-three .published3 i,
.event-area-three .published4 i {
    color: #FF5722;
}
.event-date {
    background-color: #FF5722;
}
.event-text-img:hover .visual-inner .blog-title > a,
.event-text-img:hover .readmore > a {
    color: #FF5722;
}
.event-text-img:hover .post-format-area a.tb-publish,
.blog-container-inner:hover .post-thumb a.tb-publish {
    background-color: #FF5722;
}
.home-4 h1.title6 span {
    color: #FF5722;
}
.home-4 .main-menu ul li:hover a {
    color: #FF5722;
}
.home-4 .main-menu ul li:hover ul li a:hover {
    color: #FF5722;
}
.about-one > a:hover {
    background-color: #FF5722;
}
.home-4 .then-icon > a {
    color: #FF5722;
}
.home-4 .counter-next h2 {
    color: #FF5722;
}
.reformation-text > a {
    background-color: #FF5722;
}
.home-4 a.video-popup:hover {
    border: 1px solid #FF5722;
}
.home-4 .blog-meta > span.published3 {
    border-right: 2px solid #FF5722;
}
.home-4 .published3,
.home-4 .published4 {
    color: #FF5722;
}
.meet-icon-four > ul {
    background-color: #FF5722;
}
.meet-all-four:hover h3 {
    color: #FF5722;
}
.loadmore span {
    background-color: #FF5722;
}
.event-text-img-four:hover .event-img3 a.tb-publish {
    background-color: #FF5722;
}
.breadcrumbs > ul li a {
    color: #FF5722;
}
.breadcrumbs ul li a.active::after {
    background: #FF5722 none repeat scroll 0 0;
}
.product-tab-menu li a:hover {
    color: #FF5722;
}
.product-tab-menu li.active a {
    color: #FF5722;
}
.issues-categoris > h3 {
    color: #FF5722;
}
.cat-one a:hover {
    color: #FF5722;
}
.categori-list a:hover {
    color: #FF5722;
}
.cat-one li::after {
    color: #FF5722;
}
.categori-list a:hover {
    border: 1px solid #FF5722;
    background-color: #FF5722;
}
.pages li.current a,
.pages a:hover {
    background-color: #FF5722;
}
.pages li.cut a:hover {
    color: #FF5722;
}
.issues-details-title > h3 {
    color: #FF5722;
}
.issues-bottom > h3 a:hover {
    color: #FF5722;
}
.chosen-container .chosen-drop ul li.highlighted {
    background: #FF5722;
}
.events-two-ara .published3 i,
.events-two-ara .published4 i {
    color: #FF5722;
}
.timer.timer-details > div {
    background-color: #FF5722;
}
.event-list li i {
    color: #FF5722;
}
.event-list li a:hover {
    color: #FF5722;
}
.event-details-slider .owl-controls .owl-page.active span,
.event-details-slider .owl-theme .owl-controls.clickable .owl-page:hover span {
    background: #FF5722 none repeat scroll 0 0;
}
.team-details-text > h3 {
    color: #FF5722;
}
.team-icon a:hover {
    color: #FF5722;
}
.blog-tag > p span.vidos2 {
    color: #FF5722;
}
.blog-share a:hover {
    color: #FF5722;
}
.blog-reply-all .blog-title > a,
.blog-reply-all2 .blog-title > a {
    color: #FF5722;
}
.blog-reply-all .blog-title > a:hover,
.blog-reply-all2 .blog-title > a:hover {
    background-color: #FF5722;
}
.blog-from input:focus,
.blog-from textarea:focus {
    border-color: #FF5722;
}
.communication-icon i {
    border: 1px solid #FF5722;
    color: #FF5722;
}
.communication-text > h3 {
    color: #FF5722;
}
.communication-text > p a:hover {
    color: #FF5722;
}
.contact-heading > h3 {
    color: #FF5722;
}
.map-input-contact-area .contact-form input:focus,
.map-input-contact-area .contact-form textarea:focus {
    border-color: #FF5722;
}
.donate-sidebar-top > h1,
.donate-sidebar-bottom > h1 {
    color: #FF5722;
}
.donate-sidebar-top a:hover {
    background-color: #FF5722;
}
.donate-text > p span {
    color: #FF5722;
}

.calender-title h1 {
    color: #FF5722;
}
.calender-title > p span {
    color: #FF5722;
}
.fc-state-default.fc button {
    background-color: #FF5722;
}
.fc-state-default {
    background-color: #FF5722;
}
.timeline-text a.read-more:hover {
    color: #FF5722;
}
.timeline-text > h3 a:hover {
  color: #FF5722;
}
.read-icon > a:hover {
  color: #FF5722;
}
.blog-title-four > a:hover {
  color: #FF5722;
}
.readmore-four a:hover {
  color: #FF5722;
}
.elements-tab-area .tab-list li.active a {
  background: #FF5722 none repeat scroll 0 0;
}

.home-4 .blog-title > a:hover {
    color: #FF5722;
}

.what-bottom.what-hm-4:hover .then-icon > a,.what-bottom.only-color:hover .then-icon > a{
   border: 1px solid #FF5722;
    background-color: #FF5722;
}
.meet-icon-all-four {
  background-color: #FF5722;
}
.meet-icon-four a:hover{
  color: #FF5722;
}

.home-4 a.min1:hover {
    border: 1px solid #FF5722;
}








